footer
  div(class="footer has-text-centered")
    span(class="is-centered") Vinylist
      a(href="https://github.com/cameronhotchkies/vinylist")
        span  source available on GitHub
        span(class="icon")
          i(class="fab fa-github")
