extends layout

block content

  body

    div(class="container")
      h1(class="linear has-text-centered") Celebrate our love,
      h1(class="linear has-text-centered") with an album you love


    div(class="container is-max-desktop has-background-primary-light box")
      div(class="columns")
        div(class="column")
          span
            h2(class="title is-2 has-text-centered") Confirmed!
            div(class="block has-text-centered")
              | #{confirmedTitle} by #{confirmedArtist} is now reserved for you and your gift.
              | Thanks for adding to our collection!
            div(class="block has-text-centered") See you at the wedding!
