extends layout

block content

  body

    div(class="container")
      h1(class="linear has-text-centered") Celebrate our love,
      h1(class="linear has-text-centered") with an album you love


    div(class="container is-max-desktop has-background-primary-light box")
      div(class="columns")
        div(class="column")
          span
            h2(class="title is-2") Confirmed!
            div(class="block")
              | #{confirmedTitle} by #{confirmedArtist} is now marked as a gift. Other guests will be
              | notified if they try to register it as well.
