extends layout

block content

  body

    div(class="container")
      h1(class="linear has-text-centered") Celebrate our love,
      h1(class="linear has-text-centered") with an album you love


    div(class="container is-max-desktop has-background-primary-light box")
      p Search Results for "#{searchTerm}":
      br
      ul
        for result in results
          li #{result.title}
          img(src=result.coverUrl, class="album-art")
