extends layout

block content

  body

    div(class="container")
      h1(class="linear has-text-centered") Celebrate our love,
      h1(class="linear has-text-centered") with an album you love


    div(class="container is-max-desktop has-background-primary-light box")
      p Search Results for "#{searchTerm}":
      br
      ul
        for result in results
          div(class="columns")
            div(class="column" style="text-align:right;")
              img(src=result.coverUrl, class="album-art")
            div(class="column is-two-thirds")
              li #{result.title}
              if result.unowned
                button(class="button is-rounded")
                  span(class="icon")
                    i(class="fas fa-gift")
                  span Gift it
              else
                button(class="button is-rounded" disabled) already in collection
